body {
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  background-color: #f7f7f7;
}
.container {
  margin: 150px auto;
  max-width: 960px;
}
a {
  text-decoration: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}
table,
th,
td {
  border: 1px solid #bbb;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  background-color: #ddd;
}
th,
td {
  padding: 5px;
}
button {
  cursor: pointer;
}
/*Initial style sort*/
.tablemanager th.sorterHeader {
  cursor: pointer;
}
.tablemanager th.sorterHeader:after {
  content: ' \f0dc';
  font-family: 'FontAwesome';
}
/*Style sort desc*/
.tablemanager th.sortingDesc:after {
  content: ' \f0dd';
  font-family: 'FontAwesome';
}
/*Style sort asc*/
.tablemanager th.sortingAsc:after {
  content: ' \f0de';
  font-family: 'FontAwesome';
}
/*Style disabled*/
.tablemanager th.disableSort {
}
#for_numrows {
  padding: 10px;
  float: left;
}
#for_filter_by {
  padding: 10px;
  float: right;
}
#pagesControllers {
  display: block;
  text-align: center;
}
.currentPage {
  font-weight: bold;
  background-color: #fff;
}
